#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
    text-align: center;
  }

  #hdfs-login {
      margin-top: 10px;
  }

  #login-form {
    padding: 15px;
    border-radius: 15px;
    background: whitesmoke;
    margin-top: 100px;
    box-shadow: #555 -4px 5px 5px 2px;
  }

  .login-input {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background: whitesmoke;
    border-bottom: 1px grey solid;
  }

  .login-input:focus {
      box-shadow: none;
      border-bottom: 2px #428bca solid
  }